@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
main .container {
  position: absolute;
  background: white;
  width: 1100px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px -1px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 14px 0px rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 589px) {
    main .container {
      width: 100%;
      height: 100%; } }
  main .container__search {
    position: relative;
    top: 40%;
    left: 28%;
    border: none;
    width: 50%;
    display: inline-block;
    height: 40px; }
    main .container__search--city {
      height: 2em;
      border: none;
      width: 85%;
      text-align: center;
      color: #4b6774;
      padding: 0;
      font-weight: 500;
      font-size: 2em;
      font-family: 'Roboto', Helvetica, Arial, Geneva, sans-serif; }
      main .container__search--city::placeholder {
        opacity: 0.6; }
      main .container__search--city:focus {
        outline: none; }
    main .container__search--button {
      padding: 0 0 1px 4px;
      border: none; }
      main .container__search--button:focus {
        outline: none; }
      main .container__search--button--icon {
        color: #4b6774;
        font-size: 1.5em;
        position: relative;
        right: 5px;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease; }
        main .container__search--button--icon:hover {
          -webkit-transition: all 500ms ease;
          -moz-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
          color: #ff866a; }
        @media screen and (max-width: 480px) {
          main .container__search--button--icon {
            right: 30px; } }
    main .container__search--underscore {
      position: relative;
      bottom: 13px;
      margin: 0;
      width: 90%;
      color: rgba(78, 102, 116, 0.7);
      background-color: rgba(78, 102, 116, 0.7); }
    main .container__search--local {
      font-size: 15px;
      color: rgba(78, 102, 116, 0.9);
      text-align: center;
      position: relative;
      right: 37px;
      padding: 10px; }
      main .container__search--local--small {
        font-size: 11px; }
      main .container__search--local--large {
        position: relative;
        top: 10px;
        padding: 20px; }
      main .container__search--local a {
        text-decoration: none;
        border-bottom: 1.6px dotted;
        color: rgba(78, 102, 116, 0.9); }

.switch {
  float: right;
  color: #ccc;
  margin: 0 20px 0 0;
  padding: 0; }

.old-ios-switch + p {
  line-height: 26px; }

.old-ios-switch {
  width: 65px;
  height: 26px;
  position: relative;
  z-index: 5; }
  .old-ios-switch span {
    width: 65px;
    height: 26px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 14px;
    border-top: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    background: #fefefe; }
    .old-ios-switch span:before, .old-ios-switch span:after {
      position: absolute;
      font: 12px/26px Trebutchet, sans-serif;
      font-weight: bold;
      z-index: 10; }
    .old-ios-switch span:after {
      content: '\2109';
      color: rgba(0, 0, 0, 0.5);
      right: 9px;
      top: 1px; }
    .old-ios-switch span:before {
      visibility: hidden;
      content: '\2103';
      color: rgba(0, 0, 0, 0.5);
      left: 13px;
      top: 1px; }
  .old-ios-switch label {
    display: block;
    height: 26px;
    width: 26px;
    text-indent: -9999px;
    position: absolute;
    z-index: 15;
    top: -1px;
    left: -1px;
    border: 1px solid #747474;
    background: #ffffff;
    border-radius: 14px;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .old-ios-switch input[type="checkbox"] {
    visibility: hidden; }
  .old-ios-switch input[type="checkbox"]:checked + span {
    border-top: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    background: #fefefe; }
    .old-ios-switch input[type="checkbox"]:checked + span label {
      left: 38px; }
    .old-ios-switch input[type="checkbox"]:checked + span:after {
      visibility: hidden; }
    .old-ios-switch input[type="checkbox"]:checked + span:before {
      visibility: visible; }

.topContent > * {
  display: inline-block;
  margin: 35px 30px 0 0; }

.application {
  margin: 0 0 0 30px; }
  @media screen and (max-width: 511px) {
    .application {
      margin: 20px -15px 0 0; } }
  .application .topContent__back {
    padding: 0 0 1px 4px;
    border: none; }
    .application .topContent__back:focus {
      outline: none; }
    .application .topContent__back--icon {
      position: relative;
      bottom: 5px;
      font-size: 1.4em;
      color: #4b6774;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      .application .topContent__back--icon:hover {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        color: #ff866a; }
  .application .topContent__title {
    color: #4b6774;
    font-size: 2.7em; }
  .application .current {
    padding-top: 3.5em; }
    .application .current > * {
      color: rgba(78, 102, 116, 0.9);
      font-weight: 300; }
    .application .current__date {
      font-size: 2.8em; }
    .application .current__condition {
      padding: 10px 0 0 0;
      font-size: 2.3em; }
  .application .weather > * {
    display: inline-block;
    padding: 0 0.6em 0 0; }
  .application .weather__now {
    color: #e69684;
    font-size: 6.7em; }
    @media screen and (max-width: 812px) {
      .application .weather__now {
        font-size: 4em; } }
  .application .weather__icon {
    color: #e69684;
    font-size: 6.5em; }
    @media screen and (max-width: 812px) {
      .application .weather__icon {
        font-size: 4em; } }
  .application .weather__daytime {
    position: relative;
    top: 20px; }
    @media screen and (max-width: 511px) {
      .application .weather__daytime > * > * {
        display: inline-block;
        padding: 0 9px 0 0; } }
    .application .weather__daytime > * > * > * {
      color: #e69684;
      padding: 5px 3px 0 5px;
      font-weight: 300; }
  .application .forecast {
    padding: 20px 0 0 0;
    clear: both;
    text-align: center;
    position: relative;
    right: 13px; }
    .application .forecast > * {
      display: inline-block;
      color: #4b6774;
      padding: 0 9.4% 0 0; }
      @media screen and (max-width: 1200px) {
        .application .forecast > * {
          padding: 0 8% 0 0; } }
      @media screen and (max-width: 1013px) {
        .application .forecast > * {
          padding: 0 5% 0 0; } }
      @media screen and (max-width: 812px) {
        .application .forecast > * {
          padding: 0 4% 0 0; } }
    .application .forecast :last-child {
      padding: 0; }
    .application .forecast__day, .application .forecast__temperature {
      color: rgba(78, 102, 116, 0.8); }
      @media screen and (max-width: 811px) {
        .application .forecast__day, .application .forecast__temperature {
          font-size: 15px; } }
      @media screen and (max-width: 792px) {
        .application .forecast__day, .application .forecast__temperature {
          font-size: 12px; } }
      @media screen and (max-width: 511px) {
        .application .forecast__day, .application .forecast__temperature {
          font-size: 11px; } }
    .application .forecast__icon {
      font-size: 40px;
      position: relative;
      padding: 0 0 20px; }
      @media screen and (max-width: 1200px) {
        .application .forecast__icon {
          font-size: 30px; } }
      @media screen and (max-width: 811px) {
        .application .forecast__icon {
          font-size: 25px; } }
      @media screen and (max-width: 792px) {
        .application .forecast__icon {
          font-size: 19px; } }
      @media screen and (max-width: 511px) {
        .application .forecast__icon {
          font-size: 15px; } }

html {
  font-size: 16px; }

* {
  font-family: 'Roboto', Helvetica, Arial, Geneva, sans-serif; }

#root {
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background: #ff756e;
  background: -moz-linear-gradient(top, #ff756e 0%, #ff856a 100%);
  background: -webkit-linear-gradient(top, #ff756e 0%, #ff856a 100%);
  background: -o-linear-gradient(top, #ff756e 0%, #ff856a 100%);
  background: -ms-linear-gradient(top, #ff756e 0%, #ff856a 100%);
  background: linear-gradient(to bottom, #ff756e 0%, #ff856a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff756e', endColorstr='#ff856a', GradientType=0); }

/*# sourceMappingURL=styles.css.map */
