@import "layout";
@import "palette";
@import "main";
@import "font";

html {
  font-size: 16px;
}

* {
  font-family: 'Roboto', Helvetica, Arial, Geneva, sans-serif;
}

#root {
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background: rgba(255, 117, 110, 1);
  background: -moz-linear-gradient(top, rgba(255, 117, 110, 1) 0%, rgba(255, 133, 106, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 117, 110, 1) 0%, rgba(255, 133, 106, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 117, 110, 1) 0%, rgba(255, 133, 106, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 117, 110, 1) 0%, rgba(255, 133, 106, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 117, 110, 1) 0%, rgba(255, 133, 106, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff756e', endColorstr='#ff856a', GradientType=0);
}